@{
    ViewBag.Title = "Contact";
}
<h2>KONTAKT</h2>

<address>
    Wiejska 45A<br />
    Białystok, 15-351<br />
    Telefon: 123 456 789
</address>

<address>
    <strong>Wsparcie:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>